/* Write your CSS here */

.bg-container {
  background-image: linear-gradient(#fff1eb, #ace0f9);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.bg-containers {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(69, 86, 102) 0%,
    rgb(34, 34, 34) 90%
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchInputContainer {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: transparent;
  width: 100%;
  max-width: 250px;
  border-radius: 4px;
  border: 1px solid #7b8794;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.searchBox {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  background-color: transparent;
  flex-grow: 1;
}

.searchBoxs {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  background-color: transparent;
  flex-grow: 1;
  color: #fff1eb;
}

.searchIcon {
  width: 24px;
  height: 24px;
}

.heading {
  font-size: 45px;
  font-family: Bree Serif;
}

.tabUnorderList {
  list-style-type: none;
  display: flex;
  align-items: flex-end;
  padding-left: 0px;
  margin-top: 32px;
}

.appUnorderList {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
}

.mode {
  display: flex;
  align-items: center;
}

.light {
  background-color: darkgray;
  color: #414141;
  font-family: bree serif;
  font-weight: bolder;
  border-radius: 5px;
  border-width: 0px;
  padding: 5px;
  margin-left: 30px;
  margin-top: 20px;
  font-weight: bold;
  cursor: pointer;
}

.dark {
  background-color: #414141;
  color: white;
  font-family: bree serif;
  font-weight: bolder;
  border-radius: 5px;
  border-width: 0px;
  padding: 5px;
  margin-left: 30px;
  margin-top: 20px;
  cursor: pointer;
}

.color {
  color: tomato;
  font-family: bree Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
}
